[[source]]
name = "raspberrylock"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
# "RPi\.GPIO" = "0.6.3"

[dev-packages]
pytest = '*'
FakeRPi = { git = 'git@github.com:sn4k3/FakeRPi.git', editable = 'false' }

[required]
python_version = ">=3.5"
