[Unit]
Description=c-lab schloss
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/raspberrylock/
ExecStart=/bin/bash /opt/raspberrylock/run.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
